@font-face {
    font-family: Font;
    src: url('../font/retro.ttf');
}
@keyframes loading {
    0% {transform: translateY(0px);}
    30% {transform: translateY(10vh);}
    50% {transform: translateY(40vh);}
    90% {transform: translateY(80vh);}
    100% {transform: translateY(101vh);}
}
/*Reminder dat de screen width de nav bar breekt*/
body {
    font-family: Font;
    font-weight: bold;
    background-color: #ebebeb;
    line-height: 1.4rem;
}
#top {
    background-color:rgb(0, 0, 100);
    border-bottom: 2px black solid;
}
#logo {
    display: inline-block;
    width:22px;
    height:22px;
    margin: 4px;
    text-align: center;
    font-size:1.5rem;
    background-color: aqua;
    color:black;
    border:2px black solid;
}
#website {
    display: inline-block;
}
.mover {
    line-height: 5rem;
}
nav {
    background-color:#888;
    position: fixed;
    display:block;
    width:100%;
    top:0px;
    left:0px;
    color:white;
    border-bottom: 2px black solid;
}
nav a, nav input {
    float:left;
    width:64px;
    text-align:center;
    text-decoration: none;
    margin: 8px 0 8px 8px;
    color:black;
    background-color:#999;
    border: 4px rgb(199, 199, 199) outset;
    white-space: nowrap;
}
#fontButton {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
nav a:hover, nav input:hover {
    background-color: #666;
    border-color:rgb(169, 169, 169)
}
main {
    color:rgb(0, 57, 155);
    margin: 1%;
}
main a {
    color:rgb(41, 102, 207);
}
main a:hover {
    color:rgb(6, 45, 113);
}
#Load {
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation-name: loading;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
/*Code voor specifieke pagina's start hier*/
/*Home*/
#home {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 95vw;
}
#home div {
    display:inline-block;
    width: 5.2vw;
    height:14vh;
    color:black;
    background-color: rgb(137, 165, 213);
    border: rgb(0, 0, 100) solid 4px;
}
/*Museum*/
#museum_1 {
    width:20%;
    margin: 4vh 6vw 0vh 6vh;
    float: right;
    border: 8px solid rgb(0, 0, 100);
    border-radius: 10px;
}
#museum_2 {
    width: 19vw;
    height: 19vw;
    margin: 32px 0;
    object-fit: cover;
    object-position: 25% 25%;
    border: 8px solid rgb(0, 0, 100);
    border-radius: 10px;
}

/*Log*/
#Log th, td {
    border: 3px black solid;
    padding:10px;
    text-align: center;
}
#Log th {
    color:black;
    font-size: 1.3rem;
    background-color: gray;
}
#Log td:nth-child(1) {
    background-color: gray;
    font-size: 1.3rem;
}

/*Credits*/
#credits {
    font-size: 1.2rem;
    line-height: 1.8rem;
}